/* Reset default styles */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto flex", serif;
}

h1 {
  font-size: calc(47.7px + 1vw);
  font-weight: bolder;
}
h2 {
  font-size: calc(29.12px + 1vw);
 
}
a {
  font-size: calc(29.12px + 1vw);
}

p {
  font-size: calc(1px + 1vw);
}
/*************************************************************************/
/*************************************************************************/
/*NavBar*/
header{
  width: 100%;
  position: fixed;
  width: 100%;
  background: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
}
/***Nav STyling***************************/
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  justify-content: space-around;
}
/****Navbar-toggle*************************/
.navbar-toggle{
  display: none;
}
/******************************/
.navlogo{
  height: 25px;
}
/******************************/
.navbar-menu{
  list-style: none;
  width: 50vw;
  display: flex;
  align-items: center ;
  justify-content: center;

}
/******************************/
/******************************/
    /* Style for the text container */
    .dropdown {
      position: relative;
      display: inline-block;
      cursor: pointer;
    }
    .dropdown a{
      font-size: 20px;
      text-decoration: none;
      color: red;
    }
    /* The dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      width: 100vw;
      
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      align-items: center;
      justify-content: center;
      z-index: 1;
    }

    /* Show the dropdown content when hovering over the dropdown */
    .dropdown:hover .dropdown-content {
      display: block;
      position: absolute;
      align-content: center;
      height: 100px;
      width: 25vw;
      text-align: center;
    }

/******************************/
/******************************/
.navbar-menu{
  justify-content: space-evenly;
}
.navbar-menu li{
  position: relative;
  float: left;
}
/******************************/
.navbar-menu li a{
  font-size: 20px;
  padding: 20px;
  color: black;
  display: block;
  text-decoration: none;
}
.navbar-menu li a:hover{
  color: #e85252;
}
/******************************/
.submenu{
  position: absolute;
  left: 0;
  width: 100%;
  height: 25vh;
  background: #e85252;
  display: block;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
/**/
.menu-item img{
  height: 30px;
  cursor: pointer;
}
/**/


.submenu li a{
  color: white;
  width: 100%;
  border-top: 1px rgba(0, 0, 0, 0.5);
}
/**/
  .submenu li {
list-style: none;
}
/*********Submenu************/
.submenu li a:hover{
  color: white;
  font-size: 22px;
  transition: 0.2s;
}
/*********Submenu************/
.navtext{
  position: absolute;
}
/*****menu-item******/

/*************************************************************************/

.top-social {
  display: flex;
  justify-content: center;
  width: 20%;
  
}

.top-social a {
  color: #e85252;
  margin: 0 20px;
  font-size: 18px;
}

.close-menu {
  display: none;
  width: 100%;
  text-align: right;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5em;
  color: #e85252;
  padding: 0.5em 1em;
}


/**/
#menu-bar{
  display: none;
}
/**/
.navbar label{
  color: #e85252;
  font-size: 25px;
  display: none;
}
/**/



/*************************************************************************/
/*************************************************************************/

/*Footer code starts here*/
footer {
  background-color: black;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-container {
  width: 75%;
  height: 50%;
  display: flex;
  justify-content: center;
  justify-content: space-between;

  
}
/**/
.logofooter{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
 

}
/**/
.logofooter img{
  height: 80px;
  width: 70%;

}
/**/
footer p {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/**/

/**/
.footer-links {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;


 
}
/**/
.packlinks {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: solid  white;

}
/**/
.packlinks a {
  height: 50px;
  width: 70%;
  display: flex;
  align-items: center;

}
/**/
.packlinks ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/**/
.packlinks li {
  list-style: none;
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}
/**/
footer h1{
  color: white;
}
/**/
.social-media-links {
  height: 200px;
  width: 1080px;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  border-bottom: solid white;
}
/**/
.social-media-links a {
  width: 100px;
  height: 100px;
  display: flex;
}
/**/
/**/


.footer-links a,
.social-media-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.footer-links a:hover,
.social-media-links a:hover {
  text-decoration: underline #e85252;
}

.social-media-links i {
  font-size: 50px;
}

p {
  margin: 0;
}
/**/
/**/
/**/
/**/
/**/
/*************************************************************************/
/*************************************************************************/
/***** Mobile screens ********************************************************************/

@media screen and (max-width: 768px) {

/**navbar menu*/
nav{
  display: flex;
  flex-direction: column;
}
/**navbar menu*/
.navbar-menu{
  display: none;
}
/**/
.navbar label{
  display: block;
    font-size: 30px;
}
/**/
.navbar-menu{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 100%;
  height: 400px;
  width: 100%;
  background: white;
  display: none;
  border: #e85252 green;
}
/**/

/**/
#menu-bar:checked ~ .navbar-menu{
  display: initial;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 100%;
  height: 400px;
  width: 100%;
  background: white;
  border: #e85252 green;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/**/
#menu-bar:checked ~ label{
  display: none;
}
/**/
.top-social{
  display: none;
}
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  .container{
    height: auto;
    width: 100%;
   }
   /**/
   .contact-info{ 
     height: auto;
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
   }
   /**/
   .contact-info p{
     width: 70%;
     font-size: calc(12px + 1vw);
     margin-top: 5%;
   }
   /**/
   .contact-info ul{
     margin-top: 10%;
     margin-bottom: 5%;
     font-size: calc(12px + 1vw)
   }
   /**/
   /**/
   .contact-form{
     width: 80%;
     height: auto;
     margin-bottom: 10%;
   }
  /**/
  /**/
  /**/
  /**/

  footer {
    background-color: black;
    color: #fff;
    height: 150vh;
    display: flex;
    flex-direction: column;
   
  }

  .footer-container {
    padding: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
   
  }
  /**/
  .logofooter{
   
    height: 25vh;
    width: 50%;
  }
  /**/
  .logofooter img{
    height: 100%
  }
  /**/
  footer p {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /**/
 
  .footer-links {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
   
  }
  /**/
  .packlinks {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-left: none;
    text-align: left;
  }
  /**/
  .packlinks a {
    height: 50px;
    width: 100%;
    display: flex;
    font-size: 20px;
  }
  /**/
  footer h2{
    height: 15vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid white;
  }
  /**/
  .social-media-links {
    height: 20vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    font-size: 15px;
  }
  .social-media-links a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  /**/
  /**/

  .footer-links a,
  .social-media-links a {
    color: #fff;
    text-decoration: none;
   
  }

  .footer-links a:hover,
  .social-media-links a:hover {
    text-decoration: underline #e85252;
  }

  .social-media-links i {
    font-size: 30px;
  }

 footer p {
    margin: 0;
    height: 20vh;
  }
}

@media screen and (max-width: 1080px) {


  .socialtop .top-social a i{
    font-size: 18px;
  }
 
  /**/
  /**/
  /**/
  /**/
  .social-media-links a i{
    font-size: 30px;
  }
}